@use 'styles/colors' as c
@use 'styles/layout' as l
@use 'styles/scale' as s

.contact
  background-color: #111111
  color: c.$color-text-main
  padding: s.$extra-large s.$small
  
  &-header
    @include l.flex-column
    align-items: center
    text-align: center
    max-width: 48rem
    margin: 0 auto s.$extra-large
    gap: s.$extra-small

    h2
      font-size: s.$large
      font-weight: 800
      
      span
        color: c.$color-primary

    p
      color: c.$color-text-muted
      font-size: s.$small
      max-width: 40rem

  &-container
    max-width: 42rem
    margin: 0 auto

  .contact-form
    @include l.flex-column
    background-color: c.$color-background-main
    padding: s.$medium
    border-radius: s.$extra-small
    gap: s.$small

    .form-group
      @include l.flex-column
      gap: 4px

      label
        font-weight: 600
        font-size: 0.9rem
        
        span
          color: c.$color-primary

      input, textarea
        padding: s.$extra-small
        border-radius: 4px
        background-color: c.$color-background-surface
        border: 1px solid transparent
        color: white
        font-family: inherit
        transition: border-color 0.3s, box-shadow 0.3s

        &:focus
          outline: none
          border-color: c.$color-primary
          box-shadow: 0 0 0 1px c.$color-primary

      textarea
        resize: none

      .help-text
        font-size: 0.75rem
        color: c.$color-text-muted
        line-height: 1.4
        margin-top: 4px

  .submit-button
    background-color: c.$color-primary
    color: white
    font-weight: 600
    padding: s.$extra-small s.$medium
    border-radius: 4px
    border: none
    cursor: pointer
    width: max-content
    display: flex
    align-items: center
    gap: s.$extra-small
    transition: background 0
