<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <h3 class="logo-text">
        Tracert<br>
        <span class="sub-text">Software House</span>
      </h3>
    </div>

    <div class="footer-info">
      <h4>Horários</h4>
      <p>
        Segunda a Sexta | XX:XX às XX:XX<br/>
        Sábados | XX:XX às XX:XX
      </p>
    </div>

    <div class="footer-nav">
      <h4 class="highlight">Navegação</h4>
      <ul>
        <li><a href="#advantages">Vantagens</a></li>
        <li><a href="#services">Serviços</a></li>
        <li><a href="#demonstrations">Demonstrações</a></li>
        <li><a href="#budget">Orçamento</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4 class="highlight">Contato</h4>
      <ul>
        <li><i class="fas fa-envelope"></i> XXXXXXX@XXXXXXX.XXX</li>
        <li><i class="fas fa-phone"></i> (XX) XXXXX-XXXX</li>
        <li><i class="fas fa-map-marker-alt"></i> Areado, MG</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 <span>Tracert.</span> Todos os direitos reservados.</p>
  </div>
</footer>
