@use 'styles/colors' as c
@use 'styles/layout' as l
@use 'styles/scale' as s

.hero
  @include l.flex-between
  background: c.$color-bg-main
  color: c.$color-text-main
  padding: s.$xl s.$md
  min-height: calc(100vh - 72px)
  gap: s.$lg

.hero-content
  width: 50%
  @include l.flex-column
  gap: s.$sm

  h2
    font-size: s.$xl
    font-weight: 800
    line-height: 1.2

    span
      color: c.$color-primary

  p
    font-size: calc(s.$md - (s.$xs - 0.2rem))
    color: c.$color-text-muted
    font-weight: 400

.hero-actions
  @include l.flex-row
  gap: s.$sm
  margin-top: s.$sm

.primary-button
  background: c.$color-primary
  color: c.$color-text-main
  font-weight: 600
  padding: s.$sm s.$md
  border-radius: s.$xs
  text-decoration: none
  @include l.flex-center
  gap: s.$xs
  transition: background 0.3s ease

  &:hover
    background: darken(c.$color-primary, 8%)

.secondary-button
  border: s.$xxs solid c.$color-primary
  color: c.$color-primary
  font-weight: 600
  padding: s.$sm s.$md
  border-radius: s.$xs
  text-decoration: none
  @include l.flex-center
  transition: all 0.3s ease

  &:hover
    background: c.$color-primary
    color: c.$color-bg-main

.hero-image
  width: 50%
  @include l.flex-center

  img
    width: 100%
    max-width: 32rem
    border-radius: s.$sm

@media (max-width: 48rem)
  .hero
    @include l.flex-column
    padding: s.$lg s.$md

  .hero-content,
  .hero-image
    width: 100%

  .hero-content
    h2
      font-size: s.$lg

    p
      font-size: s.$sm

  .hero-actions
    flex-direction: column
